body {
background: white;
z-index: 0;
}
span.lft { display: none; }
#header .topr { height: 20px; padding: 2px 0px; }
#header .top a { padding: 0px 5px; color: white }
#header .top, #header .topl, #header .topr {
  background: none;
}
#header .top {
  padding: 0px;
  border: none;
  position: relative;
  background-color: #2D5A73;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#4d758b), to(#1C2F39));
  background-image: -webkit-linear-gradient(#4d758b, #1C2F39);
  background-image: -moz-linear-gradient(#4d758b, #1C2F39);
  background-image: -ms-linear-gradient(#4d758b, #1C2F39);
  background-image: -o-linear-gradient(#4d758b, #1C2F39);
  background-image: linear-gradient(#4d758b, #1C2F39);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4d758b', endColorstr='#1C2F39'); /* IE6 & IE7 */ 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4d758b', endColorstr='#1C2F39')"; /* IE8 */ 
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  behavior:url(http://localhost/framework/PIE.htc);
}
#header .btsr { height: 40px; }
#header .bts .cap { height: 35px; }
#footer { height:10px; }
#footer .xr { height:30px; }

