.treeNodeSpec0{
              font-family: Arial;
              color: white;
              font-weight: bold;
              font-size: 12px;
              text-decoration: none;
              cursor: hand;
              width: 176px;
              display: block;
              padding: 4px 0px 3px 4px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
}
.treeNodeSpec0:hover {
              font-family: Arial;
              color: white;
              font-weight: bold;
              font-size: 12px;
              text-decoration: none;
              cursor: hand;
              width: 176px;
              display: block;
              background: #004080;
              padding: 4px 0px 3px 4px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
}
.treeNodeSpec1 {
              font-family: Arial;
              color: white;
              font-weight: bold;
              font-size: 12px;
              text-decoration: none;
              cursor: hand;
              width: 171px;
              display: block;
              padding: 3px 0px 3px 4px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
}
.treeNodeSpec1:hover {
              font-family: Arial;
              color: white;
              font-weight: bold;
              font-size: 12px;
              text-decoration: none;
              cursor: hand;
              width: 171px;
              display: block;
              background: #004080;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
}
.treeNodeSpec2 {
              font-family: Arial;
              color: white;
              font-weight: bold;
              font-size: 10px;
              text-decoration: none;
              cursor: hand;
              width: 160px;
              display: block;
              padding: 3px 0px 3px 4px;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
}
.treeNodeSpec2:hover {
              font-family: Arial;
              color: white;
              font-weight: bold;
              font-size: 10px;
              text-decoration: underline;
              cursor: hand;
              width: 160px;
              display: block;
              background: #004080;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
}