<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <display-name>Water</display-name>
    <distributable/>
    <description>Портал за мониторинг на води в ИАОС</description>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <filter>
        <filter-name>FilterEncoding</filter-name>
        <filter-class>bg.infologica.project.core.FilterEncoding</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>StickyCaptcha</servlet-name>
        <servlet-class>captcha.servlet.StickyCaptchaServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>250</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>75</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>StickyCaptcha</servlet-name>
        <url-pattern>/stickyImg.jpg</url-pattern>
    </servlet-mapping>
</web-app>
